/* CSS Variables */

:root {
  --primary-green: #00633f;
  --light-green: #04AA6D;
  --shadow-green: #043d27;
  --yellow: #f5dd04;
}


@font-face {
  font-family: 'super-nought';
  src: url('./fonts/Super\ Nought\ Personal\ Use.ttf');
}


@font-face {
  font-family: 'retro-cool';
  src: url('./fonts/RetroCool-Regular.otf');
}

h1 {
  font-family: 'retro-cool';
  font-size: 4em;
  /* font-kerning: calc(); */
  color: var(--yellow);
  background: var(--primary-green);
  width: fit-content;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  border: solid 10px;
  border-color: var(--yellow);
  text-shadow: 8px 8px var(--shadow-green);
  
}


.pageTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50px;
  border: solid 10px;
  border-color: #f5dd04; */

}

 @-webkit-keyframes bird {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
            transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
            transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }
}
@keyframes bird {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
            transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
            transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }
}

.img {
  padding: 0;
  border: 0;
  display: block;
  width: 100%;

}
.canvas {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column
}

.hoverColor {
  color: green;
  opacity: 10%;
}
.bird {
  padding: 20px;
  height: 100px;
  width: 100px;
border-radius: 100px;
	-webkit-animation: bird 2s linear 3000ms infinite alternate-reverse both;
	        animation: bird 2s linear 3000ms infinite alternate-reverse both;
}


.bird-images{
  overflow: auto;
  white-space: nowrap;

}

.seedList button:nth-child(2){
  display: none;
}

.seedList {
  position: fixed;
  background-color: darkgreen;
  right:0; 
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border: 1px solid black;
  height: 100%;
  overflow:auto;
  max-width: 10%;
  justify-items: right;
  z-index: 4;
}

.button {
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100%;
}

button:hover {
  background-color:#00633f
}

.home {
  margin: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.tester button:nth-child(2) {
  display: none;
}

.events:hover {
  background-color: mediumspringgreen;
}

.events > ul {
  overflow-y: scroll;
  height: 200px;
  background-color: darkseagreen;
  display: flex;
  flex-direction: column-reverse;
}

.birdsEvents {
  color: rgb(112, 0, 156);
}

