
body {
  background-color: #63630e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230D6030'/%3E%3Cstop offset='1' stop-color='%2363630E'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FCFF4F' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FCFF4F' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.37'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
/* CSS Variables */

:root {
  --primary-green: #00633f;
  --light-green: #04AA6D;
  --shadow-green: #043d27;
  --yellow: #f5dd04;
  --primary-font: 'retro-cool';
}


@font-face {
  font-family: 'super-nought';
  src: url('./fonts/Super\ Nought\ Personal\ Use.ttf');
}


@font-face {
  font-family: 'retro-cool';
  src: url('./fonts/RetroCool-Regular.otf');
}

h1 {
  font-family: 'retro-cool';
  font-size: 4em;
  /* font-kerning: calc(); */
  color: var(--yellow);
  background: var(--primary-green);
  width: fit-content;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  border: solid 10px;
  border-color: var(--yellow);
  text-shadow: 8px 8px var(--shadow-green);
}


.pageTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 50px;
  border: solid 10px;
  border-color: #f5dd04; */

}

 @-webkit-keyframes bird {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
            transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
            transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }
}
@keyframes bird {
  0% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 0deg);
            transform: scale(1) rotate3d(1, 1, 0, 0deg);
  }
  50% {
    -webkit-transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
            transform: scale(2.5) rotate3d(1, 1, 0, 90deg);
  }
  100% {
    -webkit-transform: scale(1) rotate3d(1, 1, 0, 180deg);
            transform: scale(1) rotate3d(1, 1, 0, 180deg);
  }

}

.img {
  padding: 0;
  border: 0;
  display: block;
  width: 100%;

  cursor: pointer

}

.canvas {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.hoverColor {
  color: green;
  opacity: 10%;
}

.bird-images{
  /* flex-basis: 40%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 99vw;
  overflow: auto;
  white-space: nowrap; */
  overflow: scroll;
  width: 100%;
}

.bird {
  padding: 20px;
  height: 80px;
  width: 80px;
border-radius: 100px;
	/* -webkit-animation: bird 2s linear 3000ms infinite alternate-reverse both;
	        animation: bird 2s linear 3000ms infinite alternate-reverse both; */

}

.bird:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}


.seedList button:nth-child(2) {
  display: none;
}

.seedList {
  position: fixed;

  background-color: var(--primary-green);
  right:0; 

  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  height: 100%;
  overflow: auto;
  max-width: 10%;
  justify-items: right;
  z-index: 4;
  display: flex;
  flex-direction: column;
  border: solid 5px var(--yellow);
}

.seedList > h3{
  font-family: var(--primary-font);
  color: var(--yellow);
  text-align: center;
}

.seed-button {

  background-color: #774b21; 
  border: 2px solid #3b2612;

  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100%;
  margin-bottom: 5%;
  cursor: pointer
}

.seed-button:hover {

  background-color:#00633f;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer

}

.home {
  margin: 50px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;
}

.tester button:nth-child(2) {
  display: none;
}

.events {
  width: 600px;
  flex-basis: 89%;
  align-self: center;
  background-color: var(--primary-green);
  justify-content: space-between;
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border:  solid 5px var(--yellow);
  border-radius: 30px;
}

.homeBtn{
  width: 100%;
  padding: 2em;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  background: var(--primary-green);
  font-family: var(--primary-font);
}

.homeBtn:hover{
  background-color: var(--yellow);
  transition: 0.5s ease-in-out;
  color: var(--primary-green);
}

.events > ul {
  overflow-y: scroll;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  /* background-color: #a0ff9b; */
  color: var(--yellow);
}

.events > h2{
  font-family: var(--primary-font);
  color: var(--yellow);

}

.birdsEvents {
  color: #f4f4f4;
}


/* shake animation stuff */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}



.zone-div{
  width: 80vw;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.zone-title{
  font-size: 3rem;
  width: 100%;
  font-family: var(--primary-font);
  text-align: center;
  color: var(--yellow);
}

.sub_header{
  display: flex;
  flex-direction: row;
  justify-content: space;
}